.container {
  padding: 0 100px;

  .title {
    font-size: 30px;
    border-bottom: 4px solid green;
    width: max-content;
  }

  .subtitle {
    font-size: 50px;
    color: rgb(0, 68, 0);
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service {
      width: 600px;
      height: 600px;
      padding: 10px;
      margin-bottom: 50px;
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .desc {
        background-color: rgba(219, 211, 211, 0.61);
        width: 70%;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        z-index: 999;
        opacity: 1;
        transition: all 0.5s ease;
      }

      .cat {
        position: absolute;
        top: 10px;
        left: 10px;
        color: gray;
        letter-spacing: 5px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .media {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.5s ease;

        .video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.service:hover .desc {
  color: rgb(6, 90, 6);
}

.service:hover .media {
  transform: scale(1.1);
}
